<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440502639656-anopejh8o69jupgk9jb5klp3d1mh9b8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440502639656-anopejh8o69jupgk9jb5klp3d1mh9b8m</string>
	<key>API_KEY</key>
	<string>AIzaSyAcqqvrLTpIs3_nHvunN04G54tvPrnNmYk</string>
	<key>GCM_SENDER_ID</key>
	<string>440502639656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.practical.example.Expense-tracker</string>
	<key>PROJECT_ID</key>
	<string>expense-ad8f4</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-ad8f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440502639656:ios:9b11007df42ce3c7b8a91d</string>
</dict>
</plist>